<div class="comment_container">
  <h4><%= comment.commenter %></h4>
  <p><%= comment.body %></p>
  <p><%= time_ago_in_words(comment.created_at) %> ago</p>
  <p><%= link_to 'Delete Comment', [comment.post, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </p>
</div>
