<% @posts.each do |post| %>
  <div class="post_container">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date post_details"><%= post.created_at.strftime("%B %d, %Y") %></p>
  </div>
<% end %>
