<div class="comment_container">
  <h3 class="commenter_name"><%= comment.commenter %></h3>
  <p><%= comment.body %></p>
  <p class="comment_details"><%= time_ago_in_words(comment.created_at) %> ago</p>
  <% if user_signed_in? %>
    <p class="comment_details"><%= link_to 'Delete Comment', [comment.post, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>
